* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Arial, sans-serif;
	background: linear-gradient(109.5deg, rgb(76, 221, 242) 11.2%, rgb(92, 121, 255) 91.1%);
}


.title h1, .title h2 {
	margin-bottom: 20px;
	text-align: center;
	color: #fff;
	font-weight: 500;
	
}

form {
	margin-top: 10px;
}

input[type="submit"] {
	padding: 10px 20px; /* Increase padding */
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease; /* Smooth transition */
}

input[type="submit"]:hover {
	background-color: #45a049;
}

.btn-group
{
	display: flex;
	flex-direction: column;
}



