* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	font-family: Arial, sans-serif;
}
.container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn-group
{
	margin : 20px auto ; 
}

h2 {
	margin: 20px 0;
	color: #45a049;
}

form {
	margin-top: 10px;
}

input[type="text"], input[type="submit"], input[type="date"] {
	padding: 8px 15px;
	margin-right: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
input[name="id"]{
	background-color : #c2c0c7 ; 
}
input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}
button {
	padding: 10px;
	border-radius: 10px;
	border: none;
	background-color: #45a049;
	color: white;
}
button:hover 
{
	cursor: pointer;
}